body {
    background-color: #3b3b3b;
}
h1 {
    color: #ffffff;
    font-family: "Ubuntu";
    text-decoration: underline;
}
p {
    color: #ffffff;
    font-family: "Ubuntu";
}
a {
    color: #919191;
}
a :visited{
    color: #919191;
}